
<div class="container profile-view">
  <div class="row info-row">
    <!-- Info Row -->
    <div class="col-md-6"><% @user = current_user %>
      <div class="User-image"><%= image_tag @user.avatar %>
      </div>
    </div>
    <div class="col-md-6 offset-1">
      <div class="profile-info flex-col">
        <div class="row row-1 flex-row">
          <h4 class="user-name">
            <b><%= @user.Username %>
            </b>
          </h4><%= @user.email %>
          <br/>
        </div>
        <% @user ||= current_user %>
        <div class="row row-2 flex">
          <a href="#" class="posts disabled">
            <strong><%= @user.posts.count %>
            </strong> Posts
          </a><%= link_to "#", :class => "followers disabled" do  %>
          <strong><%= @user.followers.count %>
          </strong> Followers
        <% end %><%= link_to "#", :class => "following disabled" do  %>
          <strong><%= @user.following.count %>
          </strong> Followings
        <% end %>
        </div>
      
      </div>
    </div>
  </div>
</div>








