<!DOCTYPE html>
<html lang="en">
<head>
</head>
<script>   
</script>
<body>
    <div class="container">
        <section class="profile" style="margin-top: 42px;">
            <header class="profile__header">
                <div class="profile__avatar-container">
                   <%= image_tag(@user.avatar ? @user.avatar : "profile.png", 
                      :class => "profile__avatar") %>
                </div>
               <div class="profile__info">
                   <div class="profile__name">
                       <h1 class="profile__title">
                       <%= @user.Username %></h1><br>
                       <%= link_to("Edit Profile", edit_user_registration_path(@user), :class => "profile__button") %>
                       <div class="dropdown">
                         <button class="fa fa-cog fa-2x" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                         </button>
                          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                           <li><%= link_to "Logout", destroy_user_session_path, :method => 'delete' %>
                           </li>   
                         </div>
                       </div>
                   </div>
                   <ul class="profile__numbers">
                       <li class="profile__posts">
                           <span class="profile__number">
                           <b><%= @user.posts.count %></b></span> posts
                       </li>
                       <li class="profile__followers">
                           <span class="profile__number">
                           <b><%= @user.followers.count %></b></span> followers
                       </li>
                       <li class="profile__following">
                           <span class="profile__number">
                           <b><%= @user.following.count %></b></span> following
                       </li>
                   </ul>
               </div>
            </header>
            <div class="container">
              <div class="row text-center text-lg-left">
                <% @user.posts.each do |post| %>
                <div class="col-lg-3 col-md-4 col-xs-6">
                  <a href="#" class="d-inline-block mb-4 h-100">
                    <%= image_tag(post.image ? post.image : "post_img_default.png",  :class => "img-fluid img-thumbnail") %>
                  </a>
                </div>
                <% end %>
              </div>
            </div>
            </div>
        </section>
    </div>
</body>
</html>

