<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
</head> 
    <body>
        <div class="top-margin">
      <% @users.where.not(id: current_user.id).each do |user| %>
        <main class="explore">
            <section class="people">
                <ul class="people__list">
                    <li class="people__person">
                        <div class="people__column">
                            <div class="people__avatar-container">
                                <%= image_tag(user.avatar ? user.avatar : "avatar.png", :class => "people__avatar") %> 
                            </div>
                            <div class="people__info">
                                <span class="people__username">
                                <%= user.Username %></span>
                                <span class="people__full-name">
                                <%= user.first_name+""+ user.last_name %>
                                </span>
                            </div>
                        </div>
                        <div class="people__column">
                            <% if current_user_is_following(current_user.id, user.id) %>
                                  <%= link_to 'Following', unfollow_user_path(:Username => user.Username), :class=> "btn unfollow-button", :id=> "unfollow-button"%>
                                  <% else %>
                                  <%= link_to 'Follow', follow_user_path(:Username => user.Username), :class=> "btn follow-button", :id=> "follow-button"%>
                            <% end %>
                        </div>
                    </li>
                    
                </ul>
            </section>
        </main>
        <% end %>
        </div>
    </body>
</html>