<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css">
</head>
<body>
	<form class="ui form" >
		<div class="ui grid">
			<div class="ten wide column"></div>
			<div class="six wide column">
				<h2>Forgot your password?</h2>

				<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
				<%= devise_error_messages! %>

				<div class="field">
					<%= f.label :email %><br />
					<%= f.email_field :email, autofocus: true, autocomplete: "email" %>
				</div>

				<div class="actions">
					<%= f.submit "Send me reset password instructions" %>
				</div>
				<% end %>

				<%= render "devise/shared/links" %>
			</div>
		</div>
	</form>
</body>
</html>