<div class="new-post">
<div class="form-group">
<%= form_for @post, html: { multipart: true } do |f| %>
      <div class="form-body flex-col">
        <%= f.label :image, :class=> "form-control-file" do %>
          <%= f.file_field :image, accept: 'image/png,image/jpg,image/jpeg', 
          :class => "inputfile", :id => 'post_media' %>
          <span class="title">Upload File From Library...</span>
          <div class="icon icon-add"></div>
        <% end %>
        <%= image_tag("post_img_default.png", :size => "300x300", :class => "post-media") %>
      </div>
      <footer class="form-footer">
        <div class="post-caption flex-row">
          <%= f.text_area :description, :rows => "2", :class => "form-control", :style =>" width: 570px;", 
              :placeholder => "Say Somthing..." %>
          <%= f.submit "Post", :class => "btn btn-primary" %>   
        </div>
      </footer>
    <% end %>
</div>
</div>
