<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <% @posts.each do |x| %>
  <article class="post-row content-center">
    <headre class="post-header flex-row">
      <%= image_tag x.user.avatar.url(:medium), :class => "profile-img" %>
      <%= link_to(x.user.Username, profile_path(x.user), :class => "name") %>

      <span class="post-time"><%= time_ago_in_words x.created_at %></span>
    </headre>
    <div class="post-body">
      <%= image_tag(x.image ? x.image : "avatar_default.png", :size => "600x600", 
      :class => "post-img") %>
      <div class="icon l-b-w"></div>                                        
    </div>
    <footer class="post-footer">
      <div class="post-loves">
        <a href="#">
          <span class="glyphicon glyphicon-heart"></span>
        </a>
        <h2 class="loves"></h2>
      </div>
      <div class="username flex-row">
        <p class="post-caption">
         <b><%= x.user.first_name if x.user %></b>
         <%= x.description %>
       </p>  
     </div>
     <div class="post-comments flex-col">
      <h6 class="view-more"><%= pluralize(x.comments.count, 'Comment') %></h6>
      <div class="comments-list" %>
        <% x.comments.each do |comment| %>       
        <div class="user-comment">
         <p class="comment">
           <a href="" class="link-to">
            <b><%= comment.user.Username %></b></a>
            <%= comment.content %>
          </p>  
        </div>
        <% end %>
      </div>

      <% link_to like_post_path(@posts),class:"like-btn",method: :put, remote: :true do %>
      <div>
        <span><p><i class="fa fa-thumbs-up fa-3x"></i></p></span>
      </div>
      <% end %>
      <span class="likes-count">
        <%= @post.get_upvotes.size %>
      </span>


      <div class="comment flex-row">
        <%= form_for [x, x.comments.new], :html => {:class => 'new-comment'} do |f| %>
        <%= f.text_field :content, :class => "comment", :placeholder => "Add a comment...", :autocomplete => 'off'%>
        <% end %>
      </div>
    </div>
  </footer>
</article>
<% end %>
</body>
</html>

