<% @posts.each do |x| %>

<%= x.user.first_name if x.user %>

<% if x.user_id == current_user.id %>

<div class="white">
	<%= image_tag x.image.url(:medium) %>
	<br>
	<%= x.description %>
		<td><%= link_to 'Edit', edit_post_path(x), class: "btn btn-info" %>
		</td>
		<td><%= link_to 'Destroy', post_path(x),
			  method: :delete,
			  data: { confirm: 'Are you sure?' } , class: "btn btn-info"%>
		</td>
	</div>

<%else%>

<div class="white">
	<%= image_tag x.image.url(:medium) %>
	<br>
	<%= x.description %>
</div>
	<% end %>

 <% if x.comments %>
  <% x.comments.each do |comment| %>
	<div class="comment">
	  <div class="user-name">
		<b><%= comment.user.first_name %></b> <%= comment.content %>
	  </div>
	  
	</div>
  <% end %>
<% end %>

<div class="comment-form">
  <%= form_for [x, x.comments.new] do |f| %>
	<%= f.text_field :content, placeholder: 'Add a comment...' %>
  <% end %>

  <% end %>
</div>
