//// Newwww////////////////

<h1>New Post</h1>

<hr>

<%= form_for @post, html: { multipart: true } do |f| %>

<%= f.label :image %>
<%= f.file_field :image %>
<br>

<%= f.label :description %>

<%= f.text_area :description %>
<br>


<%= f.submit %>

<% end %>




///////////////////// INdexxxxxxxxx/////////////////////



<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
<div class="full-body">
<% @posts.each do |x| %>
<div class="img-div">
    <%= image_tag(x.user.avatar.url(:thumb), :class => "round-image") %>
 </div>
  <div class="username">
    
  <b><%= x.user.first_name if x.user %></b> 
  <%= time_ago_in_words x.created_at %>
  </div>
<% if x.user_id == current_user.id %>
   <div class="admin">
    <div class="image"><%= image_tag x.image.url(:medium) %><br></div>
     <div class="image_description">
      <b><%= x.user.first_name if x.user %>
      </b><%= x.description %>
        <div class="image_action">
        <td><%= link_to 'Edit', edit_post_path(x), class: "btn btn-info" %>
        </td>
        <td><%= link_to 'Destroy', post_path(x), method: :delete,
        data: { confirm: 'Are you sure?' } , class: "btn btn-info"%>
        </td>
        </div>
       </div>
     </div>
<%else%>
<div class="non-admin">
  <div class="image">
    <%= image_tag x.image.url(:medium) %><br>
  </div>
  <div class="test">
    <div class="image_description">
      <b><%= x.user.first_name if x.user %></b>
      <%= x.description %>
    </div>
  </div>
</div>
<% end %> 
    <div class="comment-form">
      <% if x.comments %>
        <% x.comments.each do |comment| %>
            <b><%= comment.user.first_name %>
            </b><%= comment.content %><br>
        <% end %>
      <% end %>
        <%= form_for [x, x.comments.new] do |f| %>
          <%= f.text_field :content, placeholder: 'Add a comment...'%>
        <% end %>
    </div>
<% end %>
</div>
</body>
</html>



\\



cssssss




// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.image, username {
display: block;
margin-left: auto;
margin-right: auto;
width: 40%;

}

.image_description, .username, .comment-form, .img-div{

margin-left: auto;
margin-right: auto;
width: 40%;
}

.username{
  margin-top:2rem;
  font-size:1.5rem;
  color:blue;
}

.full-body{
  margin: 0 0 20px;
  padding: 30px;
  width: 320;
  
}


.round-image{  
    margin-top: 40px;  
    margin-bottom: -18px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
}
